body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-color: #ffde87 #1f1f1f;
  scrollbar-width: thin;
}

* {
  direction: rtl;
  text-align: right;
  /* color: #1f1f1fb1; */
  /* color: #ffffffad ; */
  /* color: #a33f3a74 ; */
  /* color: #ffdd8758 */
}
